In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import requests
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
df = pd.read_csv('apartments.csv', index_col=0)

In [ ]:
#Removing unnecessary commas and words from the City label
i = 0
for city in df['City']:
    x = city.rsplit(',',1)
    df['City'][i] = x[1]
    i+=1

In [ ]:
#Removing the ₪ symbol from the price, as well as the commas and changing the price to integer
i = 0
j = 0
for price in df['Price(₪)']:
    x = price.split('₪')
    y = x[0].split(',')
    z = ''.join(map(str,y))
    z = z[:-1]
    df['Price(₪)'][i] = int(z)
    i += 1

In [ ]:
#Removing all Apartments with Price higher then 100 million
overpriced = df[df['Price(₪)']>=100000000].index
df.drop(overpriced, inplace=True)

In [ ]:
#Changing the ground floor to 0 for simpler calculations
groudFloor = df[df['Floor']=='קרקע'].index
for floor in groudFloor:
    df['Floor'][int(floor)] = 0
    
#Dropping duplicates
df.drop_duplicates(keep='first', inplace=True)

In [15]:
#Dropping apartments with no rooms
noRooms = df[df['NumOfRooms']=='-'].index
df.drop(noRooms, inplace=True)

#Dropping apartments with no size
noSize = df[df['Size(SQM)']=='לא צוין'].index
df.drop(noSize, inplace=True)

#Dropping apartments with size larger then 1000 SQM - this made no sense when we found a 2000 SQM apartment in Tel-Aviv....
tooBig = df[df['Size(SQM)']>1000].index
df.drop(tooBig, inplace=True)

#Dropping apartments with price less then 0
negativePrice = df[df['Price(₪)']<=0].index
df.drop(negativePrice, inplace=True)

#Dropping apartments with number of rooms less then 0
negativeRooms = df[df['NumOfRooms']<=0].index
df.drop(negativeRooms, inplace=True)

In [ ]:
df = pd.read_csv('apartments.csv', index_col=0)

#Changing the attributes Floor, NumOfRooms and Size(SQM) to Integer and Double since it was a String
df['Floor'] = df['Floor'].astype('int')
df['NumOfRooms'] = df['NumOfRooms'].astype('double')
df['Size(SQM)'] = df['Size(SQM)'].astype('int')

In [7]:
#Final Dataframe after Cleaning and Scrubbing
df

,City,Street,Floor,NumOfRooms,Size(SQM),Type,Price(₪)
0,גבעת שמואל,רמת הדר,15,5.5,150,דירה,3895000
1,קרית גת,כרמי גת,1,3.0,80,דירה,1650000
2,חיפה,שדרות הצבי 37,1,5.0,130,דירה,3200000
3,אילת,משעול המערב 6,2,4.0,99,דירה,1650000
5,שדרות,משעול פינס 5,0,4.0,270,דירת גן,1550000
...,...,...,...,...,...,...,...
8495,קרית מוצקין,יהודה הלוי,0,3.0,85,דירת גן,1190000
8496,ראשון לציון,נווה חוף,22,6.0,230,גג/פנטהאוז,5420000
8497,ירושלים,השיירות,2,3.5,75,דירה,3150000
8499,הרצליה,עזרא הסופר,4,4.0,108,דירה,4090000
8500,חיפה,חיפה,4,5.0,190,דירה,5200000

In [7]:
df.to_csv('apartments.csv')